b,
body,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
p,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
body {
  line-height: 1;
}
header,
section {
  display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Inter-Regular.woff2?v=3.11) format("woff2"),
    url(fonts/Inter-Regular.woff?v=3.11) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Inter-Italic.woff2?v=3.11) format("woff2"),
    url(fonts/Inter-Italic.woff?v=3.11) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Inter-SemiBold.woff2?v=3.11) format("woff2"),
    url(fonts/Inter-SemiBold.woff?v=3.11) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(fonts/Inter-ExtraBold.woff2?v=3.11) format("woff2"),
    url(fonts/Inter-ExtraBold.woff?v=3.11) format("woff");
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 112.5%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background: #fff;
  color: #333;
  padding: 0 1rem;
  line-height: 1.65;
}
body p {
  margin-bottom: 1.5rem;
}
header {
  max-width: 50rem;
  margin: 0 auto;
}
h1,
h2,
h3,
h4 {
  color: #222;
  font-weight: 800;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}
h1 {
  font-size: 4.209rem;
  margin-top: 0;
}
h2 {
  font-size: 3.157rem;
}
h3 {
  font-size: 2.369rem;
}
h4 {
  font-size: 1.777rem;
}
a {
  font-weight: 600;
}
i {
  font-style: italic;
}
.subtitle {
  font-family: Inter;
  margin-top: 0;
  font-size: 1.333rem;
}
header {
  height: 100vh;
}
@media screen and (min-width: 600px) {
  header {
    height: auto;
    padding-top: 2.5rem;
  }
}
header p {
  font-size: 1.333rem;
}
header p.subtitle {
  font-size: 2.369rem;
  line-height: 1.4;
}
main {
  max-width: 50rem;
}
main section {
  max-width: 50rem;
  margin: 0 auto;
}
main .grid section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.center {
  margin: 0 auto;
}
main a {
  text-decoration: none;
}
main p a {
  text-decoration: underline;
}
main img {
  width: 100%;
}
@supports (display: grid) {
  .grid,
  header {
    display: grid;
  }
  header {
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
  }
  main {
    grid-column: 1 / span 2;
    justify-self: center;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  @media screen and (min-width: 1100px) {
    header {
      height: 50vh;
    }
    main {
      grid-column: 2 / auto;
      justify-self: left;
    }
  }
}
a {
  color: inherit;
}
