doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="description" content="I am David Hallberg Jönsson, a UX designer in Gothenburg, Sweden. I help humans and computers get along.")
        title David Hallberg Jönsson
        link(rel="stylesheet" href="style.css")
        script(defer src="script.js")
        script(async defer data-website-id="87b72d58-ad90-48d5-9de8-58a1d67073a1" src="umami.js")
    body
        header
            div
                div
                    h1 Hi, I'm David.
                    p.subtitle I help humans and computers get along.
                p
                    |I'm a digital designer living and working in Gothenburg, Sweden. I do UX and UI design as well as front end development, currently at 
                    a(href="https://www.waya.se/") Waya Finance & Technology
                    |. I feel strongly about human-centered design, accessibility, and the idea that form should follow function.
                nav
                    a(href="#projects") Things I've done
                    a(href="#about") More about me
                    a(href="#contact") Get in touch
        main.center
            section#projects.grid
                section
                    a(href="/trustme.html")
                        h2 Trust Me
                        p.subtitle UX Research and Design
                        video(autoplay loop muted playsinline)
                            source(src="/video/trustme-teaser.webm" type="video/webm")
                            source(src="/video/trustme-teaser.mp4" type="video/mp4")
                            p It appears your browser did not support showing this short video showcasing the Trust Me project.
                    p
                        |Increasing trust in autonomous vehicles through human-centered design. 
                        a(href="/trustme.html") Read the Trust Me case study.
                section
                    a(href="julutandjur.html")
                        h2 Jul utan djur
                        p.subtitle Web design and development
                        picture
                            source(srcset="/images/julutandjur.webp" type="image/webp")
                            img(src="/images/julutandjur.png" alt="A screenshot showing a website with the title \"Jul utan djur\" and a grid displaying pictures of food with text underneath.")
                    p 
                        |Inspiring a more ethical and sustainable holiday food tradition. 
                        a(href="julutandjur.html") Read the Jul utan djur case study.
                section
                    a(href="/tangible.html")
                        h2 Tangible Impact
                        p.subtitle UX Research and Design
                        picture
                            source(srcset="/images/tangible.webp" type="image/webp")
                            img(src="/images/tangible.jpg" alt="A photograph showing a person grabbing a pair of socks of a circular table. The table also contains two apples and two bottles of water.")
                    p 
                        |Tangibilizing the environmental impact of consumer products. 
                        a(href="/tangible.html") Read the Tangible Impact case study.
            section
                h2#about About me
                blockquote
                    p#quoteText
                    footer
                        div#quoteSrcWrapper
                            span#quotePerson
                            cite#quoteSrc
                        button#refreshQuote ⟳                      
                p A couple of years ago, I fell in love with UX. Before that I thought I wanted to be a programmer, and I was studying the bachelor’s program in Software Engineering at Chalmers University of Technology to get there. However, as I started working extra as a developer I slowly came to realize that what really got me going was constructing the scaffolding that enabled users to have meaningful and enjoyable experiences.
                p This realization led me to the master's program Interaction Design & Technologies at Chalmers, where for two years I studied design methodologies, UI and UX design, user research, and much more. It was, to put it simply, amazing, and my love for UX only kept on growing. I am still in awe of the power UX has to make a real difference - by making people's lives simpler, but also more delightful - and I truly believe that making it easier for humans and computers get along is one of the most important tasks that exists today.
            section
                h2#contact Get in touch
                p
                    |Feel free to hit me up on 
                    a(href="https://twitter.com/dvdhllbrg") Twitter
                    |, 
                    a(href="https://linkedin.com/in/dvdhllbrg") LinkedIn
                    |, or with a good old-fashioned 
                    a(href="mailto:d@vidhallberg.se") email
                    |.