$break-small: 600px;
$break-large: 1100px;
$col-small: 240px;
$col-medium: 320px;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight: 600;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Regular.woff2?v=3.11") format("woff2"),
         url("fonts/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/Inter-Italic.woff2?v=3.11") format("woff2"),
         url("fonts/Inter-Italic.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
        url("fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
         url("fonts/Inter-ExtraBold.woff?v=3.11") format("woff");
}

$h1: 4.209rem;
$h2: 3.157rem;
$h3: 2.369rem;
$h4: 1.777rem;
$h5: 1.333rem;
$base: 112.5%;

html {
    scroll-behavior: smooth;
}
body {
    font-size: $base;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    color: #333;
    padding: 0 1rem;

    p, dl {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    & > nav {
        margin-top: 2rem;
    }
}

header, footer {
    max-width: 50rem;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Inter';
    color: #222;
    font-weight: 800;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

a {
    font-weight: 600;
}

i {
    font-style: italic;
}

ol {
    font-weight: 600;
    list-style-type: decimal;
    counter-reset: item;
    margin-left: 1.5rem;
    line-height: 1.75;

    & > li {
        counter-increment: item;
    }

    ol > li {
        display: block;
        &:before {
            content: counters(item, ".") ". ";
        }
    }
}

#toc {
    white-space: nowrap;
    a.active {
        font-size: $h5;
    }
}

.subtitle {
    font-family: 'Inter';
    margin-top: 0;
    font-size: $h5;
    line-height: 1.3;
}

header {
    height: 100vh;

    @media screen and (min-width: $break-small) {
        height: auto;
    }

    h1 {
        font-size: $h1;
        margin-bottom: 0;
    }

    p {
        font-size: $h5;

        &.subtitle {
            font-size: $h3;
            line-height: 1;
        }
    }

    nav {
        margin: 2rem 0;

        a {
            font-size: $h5;
            margin-right: 1rem;
        }
    }
}

aside {
    width: 95vw;
    margin: 0 auto;

    h2 {
        font-size: $h4;
        margin-bottom: 0.5rem;
    }
}

main, footer {
    section {
        max-width: 50rem;
        margin: 0 auto;
    }

    &.center {
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }

    max-width: 50rem;

    h1 {
        font-size: $h1;
        margin-bottom: 0.5rem;
    }

    p, dl {
        a {
            text-decoration: underline;
        }
    }

    figure, video {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    img {
        width: 100%;
    }

    article {
        section {
            margin-bottom: 4rem;

            & > div {
                margin-bottom: 2rem;
            }
        }
    }
}

@supports (display: grid) {
    header, footer, .grid {
        display: grid;
    }

    header {
        grid-template-rows: repeat(1, 1fr);
        align-items: center;

        .grid {
            grid-template-columns: minmax(0, 1fr) 2fr;
            align-items: center;
    
            margin-bottom: 3rem;
        }

        nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;    
        }
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        max-width: 100rem;
        margin: 0 auto;
    }

    main, footer {
        grid-column: 1 / span 2;
        justify-self: center;

        & > .grid {
            grid-template-columns: repeat(auto-fit, minmax($col-medium, 1fr));
            gap: 2rem;
            min-height: 100vh;
        }

        article {
            #details {
                grid-template-columns: repeat(auto-fit, minmax($col-small, 1fr));
            }

            #figures {
                grid-template-columns: repeat(auto-fit, minmax($col-medium, 1fr));
            }

            .grid {
                column-gap: 0.5rem;

                ul {
                    margin-bottom: 2rem;
                    margin-top: 0.5rem;
                    line-height: 1.5;
                }

                .subtitle {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }

                margin-bottom: 0;
            }
        }
    }

    aside {
        grid-column: 1 / span 2;
    }

    @media screen and (min-width: $break-large) {
        
        header {
            height: 50vh;
        }

        main {
            grid-column: 2 / auto;
            justify-self: left;
        }
        
        aside {
            width: auto;
            margin: 0;
            grid-column: 1 / 1;
            justify-self: right;
    
            @supports(position: sticky) {
                position: sticky;
                height: 100vh;
                top: 2rem;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

blockquote {
    margin-bottom: 2rem;
    p {
        font-style: italic;
        font-size: $h4;
    }

    footer {
        text-align: right;
    }
}

figure figcaption {
    font-style: italic;
    padding: 0.5rem;
}

a {
    color: inherit;
}

em {
    font-style: italic;
}

dt {
    font-weight: 600;
}

dd {
    padding: 0.5rem 0 0.5rem 1rem;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}
