doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="description" content="I am David Hallberg Jönsson, a UX designer in Gothenburg, Sweden. I help humans and computers get along.")
        title Trust Me case study | David Hallberg Jönsson
        link(rel="stylesheet" href="style.css")
        script(src="script.js")
    body
        nav
            a(href="/") Home
        header
            div
                h1 Trust Me
                p.subtitle Increasing trust in autonomous vehicles through human-centered design.
        #container
            aside
                nav(aria-labelledby="tocHeader")
                    h2#tocHeader Table of contents
                    ol#toc
                        li
                            a(href="#projectOverview") Project overview
                        li
                            a(href="#problem") Problem
                        li
                            a(href="#designProcess") Design process
                            ol
                                li
                                    a(href="#literatureStudy") Literature Study
                                li
                                    a(href="#prototyping") Prototyping & User Testing
                                    ol
                                        li
                                            a(href="#firstIteration") First Iteration
                                        li
                                            a(href="#userTesting") User Testing
                                        li
                                            a(href="#secondIteration") Second Iteration
                        li
                            a(href="#reflections") Reflections
                        
            main
                article
                    section
                        h2#projectOverview.sectionHeader 1. Project overview
                        p 
                            i What does it mean to trust an autonomous car? How can the interface of the car be designed in order to build trust?
                        #details.grid
                            div
                                span.subtitle Context
                                ul
                                    li Nine weeks
                                    li HCD course project
                                    li Collaboration with Huawei.
                            div
                                span.subtitle Teammates
                                ul  
                                    li Markus Bergland - UX research/design
                                    li Sara Johansson - UX research/design
                                    li Christoffer Mattson - UX design/research, video
                            div
                                span.subtitle My contribution
                                ul  
                                    li UX research
                                    li User testing
                                    li UX design
                        p The project resulted in a concept for an autonomous car interface utilizing anthroporphism. The final prototype can be seen in the video below.

                        video(controls)
                            source(src="/video/trustme.webm" type="video/webm")
                            source(src="/video/trustme.mp4" type="video/mp4")
                            track(src="video/trustme.vtt" kind="captions" srclang="en")
                            p It appears your browser did not support showing this short video showcasing the Trust Me project.
                    section
                        h2#problem.sectionHeader 2. Problem
                        p Trust toward machines is an ever more relevant issue in today's society, and the automotive industry is no exception. As autonomous cars become more prevalent, making sure passengers trust them becomes an ever more relevant topic of inquiry. This project intended to define the issues faced by designers of autonomous car interfaces as well as propose methods for overcoming these issues, where possible. The project was carried out in collaboration with Huawei, as part of a course on human-centered design at Chalmers University of Technology.
                    section
                        h2#designProcess.sectionHeader 3. Design Process
                        p 
                            |The project followed a 
                            a(href="http://www.designkit.org/human-centered-design") human-centered design 
                            |approach throughout. It began with a literature study on the various aspects of trust, followed by ideation of concepts. Once an idea was chosen, an iterative process of prototyping and user testing followed. A video of the final concept can be seen above.
                        div
                            h3#literatureStudy.sectionHeader 3.1. Literature Study
                            p The project started of with a literature study on the subject of trust. The findings indicated three main important considerations:
                            dl
                                dt A) Utilize anthropomorphism
                                dd Anthropormorphism is the act of making something nonhuman seem human. Something as simple as giving a car a name, voice, and gender, increases the passengers' trust in it.
                                dt
                                    |B) Present information on 
                                    em why 
                                    |rather than 
                                    em how 
                                dd When an autonomous car does something, it is more important that the interface shows why it is doing it rather than what specific action it is taking. Presenting only how information leads to dangerous driving performance from the humans in the car, while presenting both why and how information bothers drivers by creating a greater cognitive load.
                                dt C) Provide adequate feedback
                                dd Two different kinds of feedback should be given: action feedback (immediate feedback indicating whether an action was successful), and learning feedback (more detailed, leading to slower but more persistent learning). Vocal feedback is safer and more understandable than just a display and an acoustic beep.
                            p Finally, two scenarios were identified that were considered to require high levels of trust in the autonomous car. Firstly, when the car is required to perform sudden evasive maneuvers in order to prevent an accident; secondly, when the car is driving in tight spaces such as in a middle lane or exiting a parking garage.
                        div
                            h3#prototyping.sectionHeader 3.2. Prototyping & User Testing
                            p The prototyping phase consisted of two design iterations, with user testing after the first iteration to evaluate it and provide data for the second iteration. Unfortunately, due to time constraints the final version was not evaluated.
                        div
                            h4#firstIteration.sectionHeader 3.2.1. First Iteration
                            p Armed with knowledge from the literature study, an initial concept was developed (shown in figure 1). Three main features were implemented to address the aspects mentioned above: an abstract representation of the car's artifical intelligence, a heads up display (HUD), and a screen located at the center of the dashboard.
                            figure
                                picture
                                    source(srcset="/images/trustme-initialdesign.webp" type="image/webp")
                                    img(src="/images/trustme-initialdesign.jpg" alt="A view from the inside of a car looking out through the windshield, with an indicator marking another car on the road. Additionally, the dashboard contains a screen showing a drawing of a car with a man and a frog icon displayed on top; over the screen sits a circular blue light.")
                                figcaption Figure 1. The initial design.
                            p The HUD was intended to display the planned route and indicate other cars, but was relatively quickly deemed unfeasible and abandoned. The AI is represented by a round blue light which blinks in rhythm with the voice when the car is "speaking" and slowly pulsates otherwise - intended to evoke anthropomorphism by communicating that the car is a living, breathing entity. For the center display, the main feature is a number of indicators which appear when there are objects nearby, illustrating these objects' positions relative to the car. For further customization, the passengers can select profile pictures to represent individuals in the car and their seating arrangements (note the man and frog icons in the image).
                        div
                            h4#userTesting.sectionHeader 3.2.2. User Testing
                            p User testing consisted of placing participants in front of a display showing the interface over three different driving scenarios, created from dash cam footage of a car driving in Gothenburg (a frame from the displayed video is shown in figure 2). The participants were seated in alignment with the driver seat to increase immersion and encouraged to think aloud during the test.
                            p
                                | In total, five tests were performed, with participants aged 23 to 34. Three participants had a driver's license. The tests were performed in five stages, alternating calm sections with critical scenarios. After each sequence, participants rated on a five-point 
                                a(href="https://www.britannica.com/topic/Likert-Scale") Likert scale 
                                |how much they felt they could trust the autonomous driver (dubbed Lisa), how relaxed they felt, and if they would prefer to take over control from the autonomous driver. After completing all sections, participants where asked questions about their overall feeling of trust in Lisa, how safe they felt, whether Lisa knew how to drive and how aware Lisa was to potential dangers in traffic.
                            figure
                                picture
                                    source(srcset="/images/trustme-testing.webp" type="image/webp")
                                    img(src="/images/trustme-testing.jpg" alt="A view from the inside of a car looking out through the windshield. The dashboard contains a screen showing a drawing of a car with three semicircular indicators surrounding it; over the screen sits a circular blue light.")
                                figcaption Figure 2. User testing video frame.
                            p The overall results were positive, with participants feeling trust and relaxation without wanting to take control. A trend is noticeable where participants feel less inclined to take control as the test progresses, suggesting an increase in trust over time. After all driving scenarios, only one participant did not trust Lisa. However, with regards to feeling safe, only two agreed while two others disagreed and one was neutral. All participants considered Lisa a competent driver aware of potential dangers. There was some confusion regarding the blue light, with participants being unsure what it was supposed to represent. Furthermore, they wanted information on distance to other objects, not simply their relative position to the car. Some also requested information on the car’s destination and planned route.
                        div
                            h4#secondIteration.sectionHeader 3.2.3. Second iteration
                            p Responding to data from the user test, a second prototpye was designed. The center display was updated to show surrounding objects from a top-down view - meaning that speed and distance can easily be determined - as well include features similar to a GPS navigation device, such as the planned route. The pulse frequency of the blue light was adjusted to more closely mimic human breathing. The final design can be seen in the figure 3, as well as in the concept video above.
                            figure
                                picture
                                    source(srcset="/images/trustme-finaldesign.webp" type="image/webp")
                                    img(src="/images/trustme-finaldesign.jpg" alt="A view from the inside of a car looking out through the windshield. The dashboard contains a screen showing the text \"City Hall 2 minutes away\" as above a drawing of a car on a blue line with three rectangular indicators surrounding it. Over the screen sits a circular blue light.")
                                figcaption Figure 3. A single frame from the final prototype.
                    section
                        h2#reflections.sectionHeader 4. Reflections
                        p The project was a huge learning experience in many regards. Getting immersed in human-centered design and continously applying the principles throughout the project really showcased the strength of the design philosophy. User testing was immensely fun and valuable, and getting to perform the test was a great lesson for the future. It was also interesting to work with a real corporate stakeholder - based in another country! - and getting their perspective and learning about their goals and objectives. Finally, it was incredibly interesting to work with the subject of trust and how to design for it, something that will likely only become more important in the future.
        footer
            h2 Want more?
            p
                |If you want to read another case study, why not check out  
                a(href="/julutandjur.html") Jul utan djur
                |, an attempt to inspire a more ethical and sustainable holiday food tradition?
            p
                |If you're looking for something else, try heading back to the 
                a(href="/") home page
                |.